<table *ngIf="country" mat-table class="mat-elevation-z8">
  <tr mat-row>
    <th mat-header-cell>Name</th>
    <td mat-cell>{{country.name}}</td>
  </tr>
  <tr mat-row>
    <th mat-header-cell>Capital</th>
    <td mat-cell>{{country.capital}}</td>
  </tr>
  <tr mat-row>
    <th mat-header-cell>Population</th>
    <td mat-cell>{{country.population}}</td>
  </tr>
  <tr mat-row>
    <th mat-header-cell>Currencies</th>
    <td mat-cell>
      <span *ngFor="let currency of country.currencies; let last = last;">
        <span>{{currency.name}}</span>
        <span *ngIf="!last">,</span>
      </span>
    </td>
  </tr>
  <tr mat-row>
    <th mat-header-cell>Flag</th>
    <td mat-cell><img [src]="country.flag" height="100"></td>
  </tr>
</table>
